{% extends 'blogapp/base.html' %}
{% block title %} Edit Profile Page {% endblock title %}
{% block content %}
    
    <div class="container mt-2">
        {% if user.is_authenticated %}
            {% if user.id == profile.user.id %}
                <h4 class="display-4 mb-3 text-center">Edit Profile Page</h4>
                <hr>
                <div class="mt-3 mx-auto" style="width: 500px; height: 500px">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class='btn btn-info'>Update Profile Page</button>            
                    </form>
                </div>
            {% else %}
                <p class="text-danger text-center">You do not have authority to edit this page.</p>
            {% comment %} <p class="text-info text-center">Click <a href="{% url 'login' %}">Here</a> to login.</p> {% endcomment %}
            {% endif %}
        {% else %}
                <p class="text-danger text-center">You are not allowed to access this page.</p>
        {% endif %}
    </div>
{% endblock content %}