{% extends 'blogapp/base.html' %}
{% block title %} Delete Post {% endblock title %}
{% block content %}
    <div class="container mt-2">
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <h4 class="display-4 mb-3 text-center">Delete {{ post.title}}</h4>
                <hr>
                <p>{{ post.content | slice:":50"|safe  }}</p>
                <div class="mt-3 mx-auto" style="width: 500px; height: 500px">
                    <form  method='POST'>
                        {% csrf_token %}
                        <strong>ARE YOU SURE... ??</strong><br>
                        <button class='btn btn-danger'>Delete</button>
                    </form>
                </div>
            {% else %}
                <p class="text-danger text-center fs-2">You are not authorized to access this page.</p>
            {% endif %}
        {% else %}
        <p class="text-danger text-center">You are not logged in.</p>
        <p class="text-info text-center">Click <a href="{% url 'login' %}">Here</a> to login.</p>
        {% endif %}
    </div>
{% endblock content %}